<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/mystyles.css">
</head>
<body class="scroll-area">
	<!-- Navbar -->
	<nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Ram贸n Ledezma</a>
			</div>
			<div class="collapse navbar-collapse nav-spy" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="spythis" href="#about">ABOUT</a></li>
					<li><a class="spythis" href="#services">SERVICES</a></li>
					<li><a class="spythis" href="#portfolio">PORTFOLIO</a></li>
					<li><a class="spythis" href="#contact">CONTACT</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Intro -->
	<header>
		<div class="container">
			<div class="presentation">
				<div class="title-name">Welcome, I am<br>
					Ram贸n Ledezma</div>
					<div class="intro-text">IT Engineer, Full Stack Web Developer</div>
					<!-- <a class="btn btn-big text-center" href="#">Let's Meet</a> -->
					<div class="fa-5x text-center">
					<a class="flecha" href="#services"><span class="text-center fa fa-chevron-down"></span></a>
				</div>	
				</div>
				
				
			</div>
		</header>
		<!-- End Intro -->


					<span id="about" style="display:block"></span>
			<!-- Start About Section -->
			<section class="about">
				<div class="container-fluid">
					<h1 class="page-header text-center">ABOUT ME</h1>
					<h3 class="text-center text-muted about-subtitle"><em class="page-subtitle">My Brief Intro</em></h3>
					<div class="row">
						<div class="col-sm-4">
							<img class="img-responsive img-circle" src="http://i63.tinypic.com/2ylmrf7.jpg" alt="" />
						</div>
						<div class="col-sm-8">
							<p class="text-justify">My name is Ram贸n Emilio Ledezma, Vargas, i'm a graduate engineer from Venezuela. Since i was a child i was tied to computers and my dream was to make it my job somewhow. In order to achieve that goal i enrolled into college to study IT Engineering where i learnt programming and advanced computer science skills that helped complete the challenges that came ahead. I've been offered a variety of projects which thanks to the education  received and a lot of self learning i was capable of being to the height of the tasks. Learning is a never ending process and there's nothing more satisfactory than learning and working on things that you really enjoy.</p>
							
						</div>
					</div>
				</div>
			</section>
			<!-- End About Section -->
		<span id="services" style="display:block"></span>
		<!-- Services Section -->
		<section class="services" >
			<div class="container-fluid">
				
				<h1  class="text-center page-header" >SERVICES</h1>
				<h3 class="text-muted text-center services-subtitle "><em class="page-subtitle">Wanting to land your feet on the web? We got you covered.</em></h3>

				<div class="row services-list text-center">
					<div class="col-sm-3">
						<div class="fa-5x">
							<i class="fa fa-money"></i>
						</div>
						<h3 class="service-title">E-Commerce</h3>
						<p class="text-muted">Take your business to the next level, if you sell something and it's not online, you're losing money!</p>
					</div>
					<div class="col-sm-3">
						<div class="fa-5x">
							<i class="fa fa-laptop"></i>
						</div>
						<h3 class="service-title">Responsive Design</h3>
						<p class="text-muted">Be on all devices, your webpage will look beatiful on your smartphone as in your desktop computer.</p>
					</div>
					<div class="col-sm-3">
						<div class="fa-5x">
							<i class="fa fa-code"></i>
						</div>
						<h3 class="service-title">Modern Technologies</h3>
						<p class="text-muted">IT grows every second that passes by. Get always the lastest technologies and be part of that growth.</p>

					</div>
					<div class="col-sm-3">
						<div class="fa-5x">
							<i class="fa fa-rss"></i>
						</div>
						<h3 class="service-title">Social Media</h3>
						<p class="text-muted">Be present on all devices, your webpage will look beatiful on your smartphone as in your desktop computer. </p>
					</div>
				</div>
			</section>
			<!--End Services Section -->
			<span id="portfolio" style="display:block"></span>
			<!--Start Portfolio Section -->
			<section class="portfolio">
				<div class="container-fluid">
					<h1 class="text-center page-header">PORTFOLIO</h1>
					<h3 class="text-muted text-center portfolio-subtitle"><em class="page-subtitle">Right outta the lab.</em></h3>
					<div class="row text-center">
						<div class="col-sm-3">

							<div class="thumbnail">
								<img src="/images/palace-thumb2.jpg">
							</div>
							<h3>Palace Hotel</h3>
							<h4 class="text-muted">Website design and booking system.</h4>
						</div>
						<div class="col-sm-3">

							<div class="thumbnail">
								<img src="/images/repuestos-thumb.jpg">
							</div>
							<h3>Repuestos Los Gallegos</h3>
							<h4 class="text-muted">Website design and minimalistic online store.</h4>
						</div>
						<div class="col-sm-3">
							<div class="thumbnail">
								<img src="http://placehold.it/800x600">
							</div>
							<h3>Dist. de Lubricantes Los Gallegos</h3>
							<h4 class="text-muted">Website design.</h4>
						</div>

						<div class="col-sm-3">
							<div class="thumbnail">
								<img src="http://placehold.it/800x600">
							</div>
							<h3>Mercality LLC</h3>
							<h4 class="text-muted">lorem ipsum</h4>
						</div>

					</div>

				</div>

			</section>
			<!-- End Portfolio Section -->
			<span id="contact" style=" margin-top:-60px;display:block"></span>

			<!-- Start Footer -->

			<div class="footer">
				<div class="nav navbar-default navbar-inverse">

					<div class="container-fluid">
						<div class="row text-center">
							<h1 class="">CONTACT</h1>

							<div class="col-sm-8">
								<form action="">
									<div class="col-sm-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="YOUR NAME*" />
										</div>
										<div class="form-group">
											<input type="email" class="form-control" placeholder="YOUR EMAIL*" />
										</div>
										<div class="form-group ">
											<input type="text" class="form-control" placeholder="YOUR PHONE*" />
										</div>

									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<textarea class="form-control" name="" id=""  placeholder="YOUR MESSAGE*"></textarea>
										</div>
									</div>

								</form>
								<div class="col-sm-12">
									<button class="btn-info btn-block text-center">SEND MESSAGE</button>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-xs-4 fa-5x">
										<a href="https://www.facebook.com/Mercality" target="_blank"><span class="fa fa-facebook-square"></span></a>
									</div>
									<div class="col-xs-4 fa-5x">
										<a href="https://twitter.com/lvramon" target="_blank"><span class="fa fa-twitter-square"></span></a>
									</div>
									<div class="col-xs-4 fa-5x">
										<a href="https://ve.linkedin.com/in/ram贸n-ledezma-30a12689" target="_blank"><span class="fa fa-linkedin-square"></span></a>
									</div>
								</div>
								<div class="row">
									<div class="fa-1x col-xs-12 text-center">
										<span class="fa fa-whatsapp"> +58 416-0350957</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">

					</div>
				</div>
			</div>

			<!-- End Footer -->
			

		</body>

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
			<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="js/cbpAnimatedHeader.js"></script>
			<script type="text/javascript" src="js/classie.js"></script>
			<script type="text/javascript">
			$(document).ready(function(){
					$('body').scrollspy({target: '.navbar-fixed-top', selector: '.spythis', offset:40}); 
					});
				$(document).on('click','.navbar-collapse.in',function(e) {
				    if( $(e.target).is('a') ) {
				        $(this).collapse('hide');
				    }
				});

				$('.navbar-nav>li>a, .flecha>a').on('click', function(e){
				    e.preventDefault();
				    var target= $(e.target.hash);
				    $('html, body').stop().animate({
				       scrollTop: target.offset().top
				    }, 1000);	
				    
				});

				
			</script>
</html>